@charset "UTF-8";

.header {
    width:100%;
    text-align:left;
}

.container {
    clear:both;
    width:100%;
    text-align:left;
}

.body-container {
    clear:both;
    box-sizing: border-box;  /* padding과 border는 크기에 포함되지 않음 */
    margin: 0px auto 15px;
    min-height: 500px;
    padding-top: 20px;
}

.body-title {
    color: #424951;
    padding-top: 10px;
    padding-bottom: 5px;
    margin: 0 0 25px 0;
    border-bottom: 1px solid #dddddd;
}
.body-title h3 {
    font-size: 23px;
    min-width: 300px;
    font-family:"Malgun Gothic", "맑은 고딕", NanumGothic, 나눔고딕, 돋움, sans-serif;
    font-weight: bold;
    margin: 0 0 -5px 0;
    padding-bottom: 5px;
    display: inline-block;
    border-bottom: 3px solid #424951;
}

.footer {
    clear:both;
    width:100%;
    color:black;
}

/* header */
.header-top {
    margin:0px auto;
    width: 960px;
    height: 70px;
    clear: both;
}

.header-left {
    width: 480px;
    height: 70px;
    float: left;
}

.header-right {
    width: 480px;
    height: 70px;
    float: left;
}

/* footer */
.footer {
    width:100%;
    height:50px;
    margin:5px auto;
    text-align:center;
    background-color: #ffffff;
    line-height: 50px;
    border-top:1px solid #cccccc;
  	 color:black;
}

/* menu */
.menu {
    margin:0px auto;
    width: 960px;
    min-height: 40px;
    clear: both;
    border-radius: 4px;
    /*box-shadow: inset 0 1px 0 rgba(255,255,255,.15), 0 1px 5px rgba(0,0,0,.075);*/
    background-color: #f8f8f8;
    border: 1px solid #e7e7e7;
	box-sizing: border-box;
}

ul.nav {
  width:100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.nav li { 
  display: inline;
}

ul.nav li a {
  float: left;
  line-height: 40px;
  color: #555;
  text-decoration: none;
  margin: 0;
  padding: 0 30px;
}

ul.nav .current a, ul.nav li:hover > a {
  color: #333;
  font-weight : 900;
  text-decoration: none;
  background: #e9e9e9;
}

ul.nav ul {
  display: none;
}

ul.nav li:hover > ul {
  position: absolute;
  display: block;
  width: 960px;
  height: 40px;
  margin: 40px 0 0 -1px;
  background: #e9e9e9;
  border: 1px solid #e9e9e9;
  z-index: 101;
  box-sizing: border-box;
}

ul.nav li:hover > ul li a {
  float: left;
  line-height: 39px;
  color: #333;
  text-decoration: none;
  margin: 0;
  padding: 0 20px 0 20px;
  background: #e9e9e9;
}

ul.nav li:hover > ul li a:hover {
  color: #333;
  text-decoration: none;
}
