<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="adminchart">
	<select id="categorySalesSection" resultType="com.sp.app.admin.chart.CategoryAnalysis">
		WITH categorySales AS(
			SELECT pod.orderNum, total_sales, categoryName
			FROM product_order_detail pod
			LEFT OUTER JOIN store_order_list sol ON pod.orderNum = sol.orderNum
		)
	<![CDATA[
		SELECT '의류' section, NVL(SUM(total_sales),0) total  FROM categorySales WHERE categoryName = '의류'
		UNION ALL
		SELECT '전자제품' section, NVL(SUM(total_sales),0) total FROM categorySales WHERE categoryName = '전자제품'
		UNION ALL
		SELECT '생필품' section, NVL(SUM(total_sales),0) total FROM categorySales WHERE categoryName = '생필품'
		UNION ALL
		SELECT '인테리어 가구' section, NVL(SUM(total_sales),0) total FROM categorySales WHERE categoryName = '인테리어가구'
	]]>
	</select>
	
	<select id="categoryYearSalesSection" resultType="com.sp.app.admin.chart.CategoryAnalysis">
		WITH categorySalesYear AS(
		    SELECT pod.orderNum, sol.total_sales, sol.order_date, categoryName 
		    FROM store_order_list sol
		    LEFT OUTER JOIN product_order_detail pod 
		        ON pod.orderNum = sol.orderNum
		)
	<![CDATA[
		SELECT TO_CHAR(order_date,'YYYY') as OrderYear, 
       		NVL(SUM(DECODE(categoryName,'의류',total_sales)),0) clothes_total, 
       		NVL(SUM(DECODE(categoryName,'전자제품',total_sales)),0) electronics_total,
       		NVL(SUM(DECODE(categoryName,'생필품',total_sales)),0) necessaries_total,
       		NVL(SUM(DECODE(categoryName,'인테리어가구',total_sales)),0) interior_total
		FROM categorySalesYear
		WHERE TO_NUMBER(TO_CHAR(order_date,'YYYY')) > TO_NUMBER(TO_CHAR(SYSDATE,'YYYY'))-5 
		AND TO_NUMBER(TO_CHAR(order_date,'YYYY')) <= TO_NUMBER(TO_CHAR(SYSDATE,'YYYY'))
		GROUP BY TO_CHAR(order_date,'YYYY')
		ORDER BY OrderYear
	]]>
	</select>
	
	
	
	
	
</mapper>