<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="daily">
	<select id="seq" resultType="Integer">
		SELECT daily_seq.NEXTVAL FROM dual
	</select>
	<select id="image_seq" resultType="Integer">
		SELECT dailyFile_seq.NEXTVAL FROM dual
	</select>
	
	<insert id="insertDaily" parameterType="com.sp.app.daily.Daily">
		INSERT INTO daily_bbs(dailyNum, userId, content, subject, storeURL, usedURL, created_date, hitCount) 
			VALUES (#{dailyNum}, #{userId}, #{content}, #{subject}, #{storeURL,jdbcType=VARCHAR}, #{usedURL,jdbcType=VARCHAR}, SYSDATE, 0)
	</insert>
	
	<select id="dailyCount" parameterType="map" resultType="Integer">
		SELECT NVL(COUNT(*), 0)
		FROM daily_bbs d
		JOIN member m ON d.userId = m.userId
	</select>
	
	<select id="listDaily" parameterType="map" resultType="com.sp.app.daily.Daily">
		SELECT d.dailyNum, d.userId, userName, subject, hitCount,
			       created_date, imageFilename
			FROM daily_bbs d
			JOIN member m ON d.userId=m.userId
			JOIN daily_image i ON d.dailyNum = i.dailyNum
	</select>
	
	 <select id="readDaily" parameterType="Integer" resultType="com.sp.app.daily.Daily">
		SELECT dailyNum, userId, userName, subject, content, created_date, daily_imageFilenum
		FROM daily_bbs d
		JOIN daily_image i ON d.dailyNum = i.dailyNum
		WHERE d.dailyNum = #{dailyNum}
	</select>
	
	<!-- 이전글 -->
	<select id="preReadDaily" parameterType="map" resultType="com.sp.app.daily.Daily">
		SELECT dailyNum, subject
		FROM daily_bbs 
		WHERE dailyNum &gt; #{dailyNum}
		ORDER BY dailyNum ASC
		FETCH FIRST 1 ROWS ONLY
    </select>

    <!-- 다음글 -->
    <select id="nextReadDaily" parameterType="map" resultType="com.sp.app.daily.Daily">
		SELECT dailyNum, subject
		FROM daily_bbs 
		JOIN member1 m ON n.userId=m.userId
		WHERE dailyNum &lt; #{dailyNum}
		ORDER BY dailyNum DESC
		FETCH FIRST 1 ROWS ONLY
    </select>

	<update id="updateHitCount" parameterType="Integer">
		UPDATE daily_bbs SET hitCount=hitCount+1 WHERE dailyNum = #{dailyNum}
	</update>
	
	<insert id="insertFile" parameterType="com.sp.app.daily.Daily">
		INSERT INTO daily_image(daily_imageFilenum, imageFilename, dailyNum)
			VALUES (#{daily_imageFilenum}, #{imageFilename}, #{dailyNum})
	</insert>
	
	<select id="listFile" parameterType="Integer" resultType="com.sp.app.daily.Daily">
		SELECT daily_imageFilenum, dailyNum, imageFilename
		FROM daily_image
		WHERE dailyNum=#{dailyNum}
		ORDER BY daily_imageFilenum ASC;
	</select>
</mapper>