<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="list">
	
	<select id="dataCountMember" parameterType="map" resultType="Integer">
		SELECT NVL(COUNT(*), 0)
		FROM member
	</select>
	
	<select id="listMember" parameterType="map" resultType="com.sp.app.member.Member">
		SELECT userId, userName, 
		TO_CHAR(birth, 'YYYY-MM-DD') birth, email, tel, allow
		FROM member 
		OFFSET #{offset} ROWS FETCH FIRST #{rows} ROWS ONLY
	</select>
	
   <update id="updateMember" parameterType="map">
		UPDATE member SET allow = #{allow} WHERE userId=#{userId}
	</update>
	
	<delete id="deleteMember" parameterType="String">
    	DELETE FROM member WHERE userId=#{userId}
    </delete>
 
	<select id="dataCountSeller" parameterType="map" resultType="Integer">
		SELECT NVL(COUNT(*), 0)
		FROM seller
	</select>
	
	<select id="listSeller" parameterType="map" resultType="com.sp.app.seller.Seller">
		SELECT sellerId, sellerName, email, tel, allow
		FROM seller
		OFFSET #{offset} ROWS FETCH FIRST #{rows} ROWS ONLY
	</select>
	
	<update id="updateSeller" parameterType="map">
		UPDATE seller SET allow = #{allow} WHERE sellerId=#{sellerId}
	</update>
   
	<delete id="deleteSeller" parameterType="String">
    	DELETE FROM seller WHERE sellerId=#{sellerId}
    </delete>	
    
    <select id="dataCountEvent" parameterType="map" resultType="Integer">
		SELECT NVL(COUNT(*), 0)
		FROM event
	</select>
	
	<select id="listEvent" parameterType="map" resultType="com.sp.app.event.Event">
		SELECT eventNum, sellerId, subject,
		 TO_CHAR(start_date,'yyyy-mm-dd')as start_date,
		 TO_CHAR(end_date,'yyyy-mm-dd')as end_date, allow
		FROM event 
		OFFSET #{offset} ROWS FETCH FIRST #{rows} ROWS ONLY
	</select>
	
   <update id="updateEvent" parameterType="map">
		UPDATE event SET allow=#{allow} WHERE eventNum=#{eventNum}
	</update>
	
	<delete id="deleteEvent" parameterType="Integer">
    	DELETE FROM event WHERE eventNum=#{eventNum}
    </delete>
</mapper>