<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">

	<select id="loginMember" parameterType="String" resultType="com.sp.app.member.Member">
      SELECT memberIdx, userId, userName, userPwd, tel, zip, addr1, addr2, birth, email, introduce, profile_imageFilename
      FROM member
      WHERE userId = #{userId}
   </select>
   
	
    <select id="memberSeq" resultType="Long">
       SELECT member_seq.NEXTVAL FROM dual 
    </select>

    <insert id="insertMember" parameterType="Long">
       INSERT INTO member(memberIdx, membership) VALUES (#{memberIdx}, 1) 
    </insert>

 <update id="insertMember12" parameterType="com.sp.app.member.Member">           
      INSERT ALL
 		  	INTO memberId (memberIdx) values (member_seq.NEXTVAL)
 			into member (memberIdx,userId,userName,userPwd,tel,zip,addr1,addr2,birth,email,introduce,profile_imageFilename)
 			values (member_seq.NEXTVAL,#{userId}, #{userName}, #{userPwd}, #{tel}, #{zip}, #{addr1}, #{addr2, jdbcType=VARCHAR}, #{birth}, 
             	#{email, jdbcType=VARCHAR}, #{introduce, jdbcType=VARCHAR}, #{profile_imageFilename, jdbcType=VARCHAR}) 
 			select * from dual
    </update>
	    
	<select id="readMember" parameterType="String" resultType="com.sp.app.member.Member">
		SELECT m.memberIdx, membership, userId, userName, userPwd, introduce, profile_imageFilename,
		TO_CHAR(birth, 'YYYY-MM-DD') birth, email, tel, zip, addr1, addr2
		FROM memberId m
		LEFT OUTER JOIN member m1 ON m.memberIdx = m1.memberIdx
		WHERE m.memberIdx = #{memberIdx}
	</select>
	
	<!-- 아이디 유효성 검사 정보 불러오기 -->
	<select id="readMember1" parameterType="String" resultType="com.sp.app.member.Member">
		SELECT m.memberIdx, membership, userId, userName, userPwd, introduce, profile_imageFilename,
		TO_CHAR(birth, 'YYYY-MM-DD') birth, email, tel, zip, addr1, addr2
		FROM memberId m
		LEFT OUTER JOIN member m1 ON m.memberIdx = m1.memberIdx
		WHERE m1.userId = #{userId}
	</select>
	
	<select id="readProfile" parameterType="String" resultType="com.sp.app.member.Member">
		SELECT userId, introduce, profile_imageFilename
		FROM member 	
		WHERE userId = #{userId}  
	</select>
	
	<select id="followerCount" parameterType="map" resultType="Integer">
		SELECT COUNT(*) followerCount
		FROM follower
		WHERE userId1=#{userId}
	</select>
	
	<select id="followingCount" parameterType="map" resultType="Integer">
		SELECT COUNT(*) followerCount
		FROM follower
		WHERE userId2=#{userId}
	</select>
	
	<select id="followerList" parameterType="map" resultType="com.sp.app.member.Member">
		SELECT f.userId2, profile_imageFilename, m.userId, f.userId1
		FROM member m
		JOIN follower f ON f.userId2=m.userId
		WHERE f.userId1=#{userId} 
		OFFSET #{offset} ROWS FETCH FIRST #{rows} ROWS ONLY
	</select>
	
	<select id="followingList" parameterType="map" resultType="com.sp.app.member.Member">
		SELECT f.userId1, profile_imageFilename, m.userId, f.userId2
		FROM member m
		JOIN follower f ON f.userId1=m.userId
		WHERE userId2=#{userId} 
		OFFSET #{offset} ROWS FETCH FIRST #{rows} ROWS ONLY
	</select>
	
	<!-- 삭제시 양쪽 다 지워짐 (한쪽만 팔로우 불가능) -->
	<delete id="deleteFollower" parameterType="String">
		DELETE FROM follower WHERE userId1=#{userId1} and userId2=#{userId2}
	</delete>
	
	<insert id="insertFollow" parameterType="com.sp.app.member.Member">
		INSERT INTO follower (userId1,userId2) VALUES (#{userId},#{sessionId})
	</insert>
	
	<select id="followCheckCount" parameterType="map" resultType="Integer">
		SELECT COUNT(*) checkF
		FROM follower
		WHERE userId1=#{userId} and userId2=#{sessionId}
	</select>
	
<!-- 	
	<select id="followerCount1" parameterType="map" resultType="com.sp.app.member.Member">
		SELECT userId1,userId2,COUNT(*) followerCount
		FROM follower
		GROUP by userId1,userId2
	</select>
 -->	
<!-- 
	<select id="followingCount1" parameterType="map" resultType="com.sp.app.member.Member">
		SELECT userId1,userId2,COUNT(*) followingCount
		FROM follower
		GROUP by userId1,userId2
	</select>
 -->	
	
	
    <!-- 회원정보 수정  --> 
    <update id="updateMembership" parameterType="map">
        UPDATE member SET membership = #{membership}
               WHERE memberId=#{memberIdx}
    </update>

    <update id="updateMemberEnabled" parameterType="map">
        UPDATE member SET enabled=#{enabled} WHERE userId=#{userId}
    </update>
    
    <update id="updateMember" parameterType="com.sp.app.member.Member">
        UPDATE member SET userPwd=#{userPwd},  email=#{email, jdbcType=VARCHAR}, 
        			tel=#{tel, jdbcType=VARCHAR}, birth=#{birth, jdbcType=VARCHAR}, zip=#{zip, jdbcType=VARCHAR},
                     addr1=#{addr1, jdbcType=VARCHAR}, addr2=#{addr2, jdbcType=VARCHAR},
                     introduce=#{introduce , jdbcType=VARCHAR}, profile_imageFilename=#{profile_imageFilename, jdbcType=VARCHAR} 
               WHERE userId=#{userId} 
    </update>

    <!-- member 테이블 정보 삭제  -->    
    <delete id="deleteMember" parameterType="String">
    	DELETE FROM member WHERE userId=#{userId}
    </delete>
    
    
    <!-- 팔로워 많은 랭킹 -->
	<select id="rankFollower" resultType="com.sp.app.member.Member">
		select m.userId, count(*) followerCount
		FROM member m
		JOIN follower f ON m.userId = f.userId1
		GROUP BY m.userId
		order by followerCount DESC	
		FETCH FIRST 5 ROW ONLY
	</select>
    
	
</mapper>