<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">

	<select id="loginMember" parameterType="String" resultType="com.sp.app.member.Member">
      SELECT memberIdx, userId, userName, userPwd, tel, zip, addr1, addr2, birth, email, introduce, profile_imageFilename
      FROM member
      WHERE userId = #{userId}
   </select>
   
	
    <select id="memberSeq" resultType="Long">
       SELECT member_seq.NEXTVAL FROM dual 
    </select>

    <insert id="insertMember" parameterType="Long">
       INSERT INTO member(memberIdx, membership) VALUES (#{memberIdx}, 1) 
    </insert>

 <update id="insertMember12" parameterType="com.sp.app.member.Member">           
      INSERT ALL
 		  	INTO memberId (memberIdx) values (member_seq.NEXTVAL)
 			into member (memberIdx,userId,userName,userPwd,tel,zip,addr1,addr2,birth,email,introduce,profile_imageFilename)
 			values (member_seq.NEXTVAL,#{userId}, #{userName}, #{userPwd}, #{tel}, #{zip}, #{addr1}, #{addr2, jdbcType=VARCHAR}, #{birth}, 
             	#{email, jdbcType=VARCHAR}, #{introduce, jdbcType=VARCHAR}, #{profile_imageFilename, jdbcType=VARCHAR}) 
 			select * from dual
    </update>
	    
	<select id="readMember" parameterType="String" resultType="com.sp.app.member.Member">
		SELECT m.memberIdx, membership, userId, userName, userPwd, introduce, profile_imageFilename,
		TO_CHAR(birth, 'YYYY-MM-DD') birth, email, tel, zip, addr1, addr2
		FROM memberId m
		LEFT OUTER JOIN member m1 ON m.memberIdx = m1.memberIdx
		WHERE m.memberIdx = #{memberIdx}
	</select>
	
    <!-- 회원정보 수정  --> 
    <update id="updateMembership" parameterType="map">
        UPDATE member SET membership = #{membership}
               WHERE memberId=#{memberIdx}
    </update>

    <update id="updateMemberEnabled" parameterType="map">
        UPDATE member SET enabled=#{enabled} WHERE userId=#{userId}
    </update>
    
    <update id="updateMember" parameterType="com.sp.app.member.Member">
        UPDATE member SET userPwd=#{userPwd},  email=#{email, jdbcType=VARCHAR}, 
        			tel=#{tel, jdbcType=VARCHAR}, birth=#{birth, jdbcType=VARCHAR}, zip=#{zip, jdbcType=VARCHAR},
                     addr1=#{addr1, jdbcType=VARCHAR}, addr2=#{addr2, jdbcType=VARCHAR},
                     introduce=#{introduce , jdbcType=VARCHAR}, profile_imageFilename=#{profile_imageFilename, jdbcType=VARCHAR} 
               WHERE userId=#{userId} 
    </update>

    <!-- member 테이블 정보 삭제  -->    
    <delete id="deleteMember" parameterType="String">
    	DELETE FROM member WHERE userId=#{userId}
    </delete>
    
    
	
</mapper>