<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">

	<select id="loginMember" parameterType="String" resultType="com.sp.app.member.Member">
      SELECT memberIdx, userId, userName, userPwd, tel, zip, addr1, addr2, birth, email, introduce, profile_imageFilename
      FROM member
      WHERE userId = #{userId}
   </select>
   
	
    <select id="memberSeq" resultType="Long">
       SELECT member_seq.NEXTVAL FROM dual 
    </select>

    <insert id="insertMember" parameterType="Long">
       INSERT INTO member(memberIdx, membership) VALUES (#{memberIdx}, 1) 
    </insert>

	<!-- 두개 이상의 테이블을 합치는 경우 update를 사용해야함 -->
	<!--  mybatis는 기본적으로 null을 허용하지 않기때문에 jdbcType을 붙여줘야 null을 받을 수 있음 -->
    <update id="insertMember12" parameterType="com.sp.app.member.Member">           
      INSERT ALL
 		  	INTO memberid (memberIdx) values (member_seq.NEXTVAL)
 			into member (memberidx,userId,userName,userPwd,tel,zip,addr1,addr2,birth,email,introduce,profile_imageFilename)
 			values (member_seq.NEXTVAL,#{userId}, #{userName}, #{userPwd}, #{tel}, #{zip}, #{addr1}, #{addr2, jdbcType=VARCHAR}, #{birth}, 
             	#{email, jdbcType=VARCHAR}, #{introduce, jdbcType=VARCHAR}, #{profile_imageFilename, jdbcType=VARCHAR}) 
 			select * from dual
    </update>
	    
	<select id="readMember" parameterType="String" resultType="com.sp.app.member.Member">
		SELECT memberIdx, userId, userName, userPwd, 
		TO_CHAR(birth, 'YYYY-MM-DD') birth, email, tel, zip, addr1, addr2
		FROM member
		WHERE userId = #{userId}
	</select>

	<select id="readMember2" parameterType="String" resultType="com.sp.app.member.Member">
		SELECT m.memberIdx, membership, NVL(m1.userId, 'guest') userId, NVL(userName, '손님') userName, userPwd, enabled, created_date, modify_date, last_login
		            ,TO_CHAR(birth, 'YYYY-MM-DD') birth, email, tel, zip, addr1, addr2
		FROM member m
		LEFT OUTER JOIN member1 m1 ON m.memberIdx = m1.memberIdx
		LEFT OUTER JOIN member2 m2 ON m1.userId = m2.userId
		WHERE m.memberIdx = #{memberIdx}
	</select>
	
    <!-- 회원정보 수정  --> 
    <update id="updateMembership" parameterType="map">
        UPDATE member SET membership = #{membership}
               WHERE memberIdx=#{memberIdx}
    </update>

    <update id="updateMemberEnabled" parameterType="map">
        UPDATE member1 SET enabled=#{enabled} WHERE userId=#{userId}
    </update>
    
    <update id="updateMember1" parameterType="com.sp.app.member.Member">
        UPDATE member1 SET userPwd=#{userPwd}, modify_date=SYSDATE
               WHERE userId=#{userId}
    </update>
	
    <update id="updateMember2" parameterType="com.sp.app.member.Member">
        UPDATE member2 SET email=#{email, jdbcType=VARCHAR}, 
                     tel=#{tel, jdbcType=VARCHAR}, birth=#{birth, jdbcType=VARCHAR},
                     zip=#{zip, jdbcType=VARCHAR},
                     addr1=#{addr1, jdbcType=VARCHAR}, addr2=#{addr2, jdbcType=VARCHAR}
               WHERE userId=#{userId}
    </update>

    <!-- member 테이블 정보 삭제  -->    
    <delete id="deleteMember" parameterType="String">
    	DELETE FROM member WHERE userId=#{userId}
    </delete>
    
    
	
</mapper>