<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="notice">
	<select id="seq" resultType="Integer">
		SELECT notice_seq.NEXTVAL FROM dual
	</select>
	
	<insert id="insertNotice" parameterType="com.sp.app.notice.Notice">
		INSERT INTO notice(num, userId, subject, content, notice, hitCount, created)
				VALUES(#{num}, #{userId}, #{subject},
					#{content}, #{notice}, 0, SYSDATE)
	</insert>
	
	<!-- 공지 글  리스트 -->
	<select id="listNoticeTop" resultType="com.sp.app.notice.Notice">
		SELECT n.num, notice, n.userId, userName, subject, hitCount, 
				TO_CHAR(created, 'YYYY-MM-DD') created,
				NVL(fileCount, 0) fileCount
		FROM notice n
		JOIN member m ON n.userId=m.userId
		LEFT OUTER JOIN (
			SELECT num, COUNT(*) fileCount FROM noticeFile
			GROUP BY num
		) f ON n.num=f.num
		WHERE notice =  1
		ORDER BY num DESC
	</select>
	
	<!-- 데이터개수  -->
	<select id="dataCount" parameterType="map" resultType="Integer">
		SELECT NVL(COUNT(*), 0)
		FROM notice n
		JOIN member m ON n.userId=m.userId
	</select>
	
	<!-- 리스트 -->
	<select id="listNotice" parameterType="map" resultType="com.sp.app.notice.Notice">
		SELECT n.num, notice, n.userId, userName, subject, hitCount, 
		       created, NVL(fileCount, 0) fileCount
		FROM notice n
		JOIN member m ON n.userId=m.userId
		LEFT OUTER JOIN (
			SELECT num, COUNT(*) fileCount FROM noticeFile
			GROUP BY num
		) f ON n.num=f.num
		ORDER BY num DESC
		OFFSET #{offset} ROWS FETCH FIRST #{rows} ROWS ONLY
	 </select>

    <!-- 글보기 -->
    <select id="readNotice" parameterType="Integer" resultType="com.sp.app.notice.Notice">
		SELECT num, n.userId, userName, subject, content, created, hitCount, notice
		FROM notice n
		JOIN member m ON n.userId=m.userId 
		WHERE num = #{num}
	</select>

	<!-- 조회수 증가 -->
	<update id="updateHitCount" parameterType="Integer">
		UPDATE notice SET hitCount=hitCount+1 WHERE num = #{num}
	</update>

	<!-- 이전글 -->
	<select id="preReadNotice" parameterType="map" resultType="com.sp.app.notice.Notice">
		SELECT num, subject
		FROM notice n
		JOIN member m ON n.userId=m.userId
		<where>
		 (num &gt; #{num})
		</where>
		ORDER BY num ASC
		FETCH FIRST 1 ROWS ONLY
    </select>

    <!-- 다음글 -->
    <select id="nextReadNotice" parameterType="map" resultType="com.sp.app.notice.Notice">
		SELECT num, subject
		FROM notice n
		JOIN member m ON n.userId=m.userId
		<where>
		 (num &lt; #{num})
		</where>
		ORDER BY num DESC
		FETCH FIRST 1 ROWS ONLY
    </select>
    
	<!-- 수정 -->
	<update id="updateNotice" parameterType="com.sp.app.notice.Notice">
		UPDATE notice SET subject=#{subject},
				content=#{content}, notice=#{notice}
		WHERE num=#{num}
	</update>
    
	<!-- 삭제 -->
	<delete id="deleteNotice" parameterType="Integer">
		DELETE FROM notice WHERE num=#{num}
	</delete>
	
	<!-- 파일 -->
	<insert id="insertFile" parameterType="com.sp.app.notice.Notice">
		INSERT INTO noticeFile(fileNum, num, saveFilename, 
					originalFilename, fileSize) VALUES
				(noticeFile_seq.NEXTVAL, #{num}, #{saveFilename},
					#{originalFilename}, #{fileSize})
	</insert>
	
	<select id="listFile" parameterType="Integer" resultType="com.sp.app.notice.Notice">
		SELECT fileNum, num, saveFilename, originalFilename, fileSize
		FROM noticeFile
		WHERE num=#{num}    
	</select>
	
	<select id="readFile" parameterType="Integer" resultType="com.sp.app.notice.Notice">
		SELECT fileNum, num, saveFilename, originalFilename, fileSize
		FROM noticeFile
	    WHERE fileNum=#{fileNum}      
	</select>
	
	<delete id="deleteFile" parameterType="map">
		DELETE FROM noticeFile WHERE ${field} = #{num}
	</delete>
</mapper>